name: Scheduled API Call

on:
  schedule:
    # Runs at 00:00 UTC on the 1st day of every month
    - cron: "0 23 * * 5" #- cron: "0 0 1 * *" change to 1st day of month
  workflow_dispatch: # allow manual triggerZ

jobs:
  call-api:
    runs-on: ubuntu-latest

    steps:
      - name: Call API endpoint
        run: |
          curl -X GET \
            -H "Authorization: Bearer ${{ secrets.CRON_SECRET_TOKEN }}" \
            ${{ secrets.API_URL }}
